extends layout

block content
    .container-fluid
        .row.no-print
            .col-lg-3.col-md-3
                .input-group.mb-3
                    .input-group-prepend
                        label.input-group-text(for='addScoreName') Наименование
                    input.form-control(type='text', id="addScoreName")
                button.btn.btn-outline-info(type='button', id="btnAddScore") Добавить
                button.btn.btn-outline-info.ml-3(type='button', id="print") Печать
            .col-lg-3.col-md-3
                .input-group.mb-3
                    .input-group-prepend
                        label.input-group-text(for='addScorePrice') Закупочная цена
                    input.form-control(type='number', id="addScoreSalePrice")
            .col-lg-3.col-md-3
                .input-group.mb-3
                    .input-group-prepend
                        label.input-group-text(for='addScorePrice') Цена Продажи
                    input.form-control(type='number', id="addScorePrice")
            .col-lg-3.col-md-3
                .input-group.mb-3
                    .input-group-prepend
                        label.input-group-text(for='addScoreWarehouse') Кол-во
                    input.form-control(type='number', id="addScoreWarehouse")
        .row.print
            .col-md
                table.table.table-striped.table-bordered.table-hover(style="margin-top: 20px")
                    thead.thead-dark
                        th Наименовение
                        th Цена закупочная
                        th Цена продажи
                        th Кол-во
                        th.no-print Действие
                    tbody.addScore
                        each item in product
                            tr
                                td.redactaddScore.nameAddScore(contenteditable="true")=item.name
                                td.redactaddScore.salePriceAddScore(contenteditable="true")=item.salePrice
                                td.redactaddScore.priceAddScore(contenteditable="true")=item.price
                                td.redactaddScore.warehouseAddScore(contenteditable="true")=item.warehouse
                                td.no-print
                                    button#delAddScore.btn.btn-outline-dark(type='button', data-id=item._id) Удалить
    //.container-fluid.print(style="display: none;")
    //    table.table.table-striped.table-bordered.table-hover(style="margin-top: 20px")
    //        thead.thead-dark
    //            th Наименовение
    //            th Цена закупочная
    //            th Цена продажи
    //            th Кол-во
    //        tbody
    //            each item in product
    //                tr
    //                    td.redactaddScore.nameAddScore(contenteditable="true")=item.name
    //                    td.redactaddScore.salePriceAddScore(contenteditable="true")=item.salePrice
    //                    td.redactaddScore.priceAddScore(contenteditable="true")=item.price
    //                    td.redactaddScore.warehouseAddScore(contenteditable="true")=item.warehouse

