extends layout

block content
    .container-fluid
        .row
            .col-md
                .input-group.mb-3
                    input#clients-number-car.form-control(type='text', placeholder="Номер машины")
            .col-md
                .input-group.mb-3
                    select#clients-marka.custom-select
                        option(selected='') Марка
                        each item in marks
                            option(value=item.marka)=item.marka
            .col-md
                .input-group.mb-3
                    input#clients-fio.form-control(type='text', placeholder="ФИО")
            .col-md
                .input-group.mb-3
                    input#clients-birthDay.form-control(type='text', placeholder="Дата рождения")
            .col-md
                .input-group.mb-3
                    input#clients-phone.form-control(type='text', placeholder="Телефон")
            .col-md
                .input-group.mb-3
                    input#clients-balance.form-control(type='text', placeholder="Баланс")
        .row
            .col-md
                button.btn.btn-outline-info(type='button', id="addClients") Добавить
        .row
            .col-md
                table.table.table-striped.table-bordered.table-hover(style="margin-top: 20px")
                    thead.thead-dark
                        th Номер
                        th Марка
                        th ФИО
                        th День рождения
                        th Телефон
                        th Баланс
                    tbody.clietns
                        each item in clients
                            tr
                                td.refClients.number(contenteditable="true", data-id=item._id)=item.number
                                td.refClients.marka(contenteditable="true", data-id=item._id)=item.marka
                                td.refClients.fio(contenteditable="true", data-id=item._id)=item.fio
                                td.refClients.birthday(contenteditable="true", data-id=item._id)=item.birthday
                                td.refClients.phone(contenteditable="true", data-id=item._id)=item.phone
                                td.refClients.balance(contenteditable="true", data-id=item._id)=item.balance