extends layout

block content
    .container-fluid
        .row(style="margin-top:20px").no-print
            .col-md
                .input-group.mb-3
                    .input-group-prepend
                        span.input-group-text С
                    input#startDateJob.form-control(type='date')
            .col-md
                .input-group.mb-3
                    .input-group-prepend
                        span.input-group-text По
                    input#endDateJob.form-control(type='date')
            .col-md
                button.btn.btn-outline-info(type='button', id="lookJobDate") Показать
        .row.no-print
            .col-md
                h3.h3 Фильтры
        .row.no-print
            .col-md

                .form-group
                    label Администратор
                    select.searchAdmin.custom-select.valid-btn
                        option
                        each item in administrators
                            option(value=item.fio)=item.fio
            .col-md
                .form-group
                    label Мойщик
                    select.searchWasher.custom-select.valid-btn
                        option
                        each item in persons
                            option(value=item.fio)=item.fio
        .row.print
            .col-md
                table.table.table-striped.table-bordered.table-hover(style="margin-top: 20px")
                    thead.thead-dark
                        th Дата
                        th Администратор
                        th Марка
                        th Номер
                        th Мойщик
                        th Услуги
                        th Сумма
                    tbody.graphicJob
                        each item in personsJob
                            tr
                                td=item.date
                                td.fieldSearchAdmin=item.administrator
                                td=item.car
                                td=item.number
                                td.fieldSearchWasher=item.washer
                                td #{item.services} #{item.dopServices}
                                td.graphicjob-sum-item=item.mainPrice + item.dopPrice
                        tr
                            td(colspan="6") Итого:
                            td.graphicjob-sum=personsJob.reduce( function(acum, item) { return acum + (item.mainPrice + item.dopPrice) }, 0)
        .row.no-print
            .col-md
                btn.btn.btn-outline-info(id="print") Печать

