extends layout

block content
    .container-fluid
        .row
            .col-md
                .input-group.mb-3
                    .input-group-prepend
                        span.input-group-text ФИО
                    input#fio.form-control(type='text', aria-label='Default')
                button.btn.btn-outline-info(type='button', id="addPersons") Добавить
        .row
            .col-md
                table.table.table-striped.table-bordered.table-hover(style="margin-top: 20px")
                    thead.thead-dark
                        th ФИО
                        th Действие
                    tbody.persons
                        each item in persons
                            if item.administrator
                                tr.table-info
                                    td.ref(contenteditable="true", data-id=item._id)=item.fio
                                    td
                                        button.btn.btn-outline-info.mr-5.administrPersons(type='button', data-id=item._id) Администратор
                                        button.btn.btn-outline-dark.delPersons(type='button', data-id=item._id) Удалить
                            else
                                tr
                                    td.ref(contenteditable="true", data-id=item._id)=item.fio
                                    td
                                        button.btn.btn-outline-info.mr-5.administrPersons(type='button', data-id=item._id) Администратор
                                        button.btn.btn-outline-dark.delPersons(type='button', data-id=item._id) Удалить
