extends layout

block content
    .container-fluid
        .row
            .col-md
                .input-group.mb-3
                    input#fio.form-control(type='text', placeholder="ФИО")
            .col-md
                button.btn.btn-outline-info(type='button', id="addPersons") Добавить
        .row
            .col-md
                table.table.table-hover.table-sm.mt-3
                    thead.thead-dark
                        th ФИО
                        th Действие
                    tbody.persons
                        each item in persons
                            if item.administrator
                                tr.table-info
                                    td.ref(contenteditable="true", data-id=item._id)=item.fio
                                    td
                                        button.btn.btn-outline-info.mr-5.administrPersons(type='button', data-id=item._id) Администратор
                                        button.btn.btn-outline-dark.delPersons(type='button', data-id=item._id) Удалить
                            else
                                tr
                                    td.ref(contenteditable="true", data-id=item._id)=item.fio
                                    td
                                        button.btn.btn-outline-info.mr-5.administrPersons(type='button', data-id=item._id) Администратор
                                        button.btn.btn-outline-dark.delPersons(type='button', data-id=item._id) Удалить
