extends layout

block content
    .container-fluid
        .row
            table.table
                thead.thead-dark
                    th Бокс
                    th Время
                    th Машина
                    th Номер
                    th Цена
                    th Статус
                tbody
                    each item in car
                        tr(data-id=item._id)
                            td
                                select.change-box.form-control
                                    option(selected, value=item.box)=item.box
                                    option(value="1") 1
                                    option(value="2") 2
                                    option(value="3") 3
                                    option(value="4") 4
                                    option(value="5") 5
                            td=getTimeFromMins(item.dopTime + item.mainTime)
                            td=item.car
                            td=item.number
                            td=item.mainPrice+ item.dopPrice
                            td=(item.status == 'await') ? 'Ожидание' : 'Моется'