extends layout

block content
    .container-fluid
        .row
            .col-md.col-sm
                .input-group.mb-3
                    .input-group-prepend
                        span.input-group-text Кофе на начало смены
                    if startCoffee !== 0
                        input#coffee-start.form-control(type='number', value=startCoffee)
                    else
                        input#coffee-start.form-control(type='number')
            .col-md.col-sm
                .input-group.mb-3
                    .input-group-prepend
                        span.input-group-text Кофе на конец смены
                    input#coffee-end.form-control(type='number', value=endCoffee)
            .col-md.col-sm
                button.btn.btn-outline-info(type='button', id="saveAutomat") Сохранить
        .row
            .d-inline-flex.p-2
                each item in product
                    .product.p-2(data-price=item.price, data-warehouse=item.warehouse)=item.name
        .row
            .col-md
                table.table.product-table.table-hover
                    thead
                        th Приход со склада
                        th Наименование товара
                        th Цена реализации
                        th Кол-во проданного товара
                        th Остаток на витрине
                    tbody.product-body
        .row
            .col-md-2
                .form-group
                    select#washer-score.custom-select.valid-btn
                        option(value="") Сотрудник
                        each item in washer
                            option(value=item.fio)=item.fio
            .col-md-2
                .form-group
                    select#clientsVip-score.custom-select.valid-btn
                        option(value="") Vip клиент
                        each item in clientsVip
                            option(value=item._id, data-balance=item.balance)=item.fio
            .col-md-2
                h4 VIP баланс:
                    span#vip-balance-score
            .col-md
                button.btn.btn-outline-info.float-right.ml-3(type='button', id="saveCosts") Наличный расчет
                button.btn.btn-outline-info.float-right.ml-3(type='button', id="saveCostsNoCash") Безналичный расчет
                button.btn.btn-outline-info.float-right(type='button', id="saveCostsPerson") Сотрудник
                button.btn.btn-outline-info.float-right.mr-3(type='button', id="saveClientsVip") Vip клиент

