extends layout

block content
    .container-fluid
        .row
            .col-md.col-sm
                .input-group.mb-3
                    .input-group-prepend
                        span.input-group-text Кофе на начало смены
                    input#coffee-start.form-control(type='number', value=startCoffee)
            .col-md.col-sm
                .input-group.mb-3
                    .input-group-prepend
                        span.input-group-text Кофе на конец смены
                    input#coffee-end.form-control(type='number', value=endCoffee)
            .col-md.col-sm
                button.btn.btn-outline-info(type='button', id="saveAutomat") Сохранить
        .row
            .d-inline-flex.p-2
                each item in product
                    .product.p-2(data-price=item.price, data-warehouse=item.warehouse)=item.name
        .row
            .col-md
                table.table.product-table.table-hover
                    thead
                        th Приход со склада
                        th Наименование товара
                        th Цена реализации
                        th Кол-во проданного товара
                        th Остаток на витрине
                    tbody.product-body
                        each item in productReady
                            tr.quantity-minus
                                td.warehouse-table=item.warehouse
                                td.product-name=item.name
                                td.product-price=item.price
                                td.quantity.qm=item.quantity
                                td.remainder=item.remainder
        .row
            .col-md
                button.btn.btn-outline-info.float-right(type='button', id="saveCosts") Сохранить

