.container-fluid.mt-3
    .row
        .col-md
            .table-responsive
                table.table.table-striped
                    thead.thead-dark
                        th Время
                        th Марка
                        th Номер
                        th Услуги
                        th Доп услуги
                        th Мойщик
                        th Сумма
                        th Безнал
                        th Часть (безнал)
                        th Отложить оплату
                        th Скидка
                        th Действие
                    tbody.tr-body
                        each item in data
                            if item.vip
                                tr.str.table-warning(data-status=item.status, data-typeauto=item.typeAuto, data-vip=1, data-id=item._id)
                                    td(data-minutes=item.time).time=getTimeFromMins(item.dopTime + item.mainTime)
                                    td.car=item.car
                                    td.number=item.number
                                    td.service-main(data-price=item.mainPrice, data-time=item.mainTime)=item.services
                                    td.dop(data-price=item.dopPrice, data-time=item.dopTime)=item.dopServices
                                    td=item.washer
                                    td.price=item.dopPrice + item.mainPrice
                                    td.non-cash
                                        if item.nonCash
                                            input.checkbox.checkbox-non-cash(type="checkbox", checked, disabled)
                                        else
                                            input.checkbox.checkbox-non-cash(type="checkbox", disabled)
                                    td.part
                                        input.form-control.part-noCash(type="number" value=item.partNoCash || 0, disabled)
                                    td.defer
                                        if item.deferCash
                                            input.checkbox.defer-cash(type="checkbox", checked, disabled)
                                        else
                                            input.checkbox.defer-cash(type="checkbox", disabled)
                                    td.discount
                                            input.checkbox.checkbox-discount(type="checkbox" disabled)
                                    td.d-flex.justify-content-center
                                        button.btn.btn-primary.status-wash(type='button') Заехать
                                        button.btn.btn-success.status-ready(type='button') Готово
                                        button.btn.btn-warning.redact(type='button') Услуги
                                        button.btn.btn-info.modalTwo(type='button') Доп. Услуги
                                        button.btn.btn-danger.status-await(type='button') Отмена
                                        button.btn.btn-dark.delete(type='button') Удалить
                            else
                                tr.str(data-status=item.status, data-typeauto=item.typeAuto, data-vip=item.vip, data-id=item._id, data-discount=item.client.discount, data-proc=item.client.proc)
                                    td(data-minutes=item.time).time=getTimeFromMins(item.dopTime + item.mainTime)
                                    td.car=item.car
                                    td.number=item.number
                                    td.service-main(data-price=item.mainPrice, data-time=item.mainTime)=item.services
                                    td.dop(data-price=item.dopPrice, data-time=item.dopTime)=item.dopServices
                                    td=item.washer
                                    td.price=(item.dopPrice + item.mainPrice) - item.discount
                                    td.non-cash
                                        if item.nonCash
                                            input.checkbox.checkbox-non-cash(type="checkbox", checked)
                                        else
                                            input.checkbox.checkbox-non-cash(type="checkbox")
                                    td.part
                                        input.form-control.part-noCash(type="number" value=item.partNoCash || 0)
                                    td.defer
                                        if item.deferCash
                                            input.checkbox.defer-cash(type="checkbox", checked)
                                        else
                                            input.checkbox.defer-cash(type="checkbox")
                                    td.discount
                                        if item.client._id
                                            if item.discount
                                                input.checkbox.checkbox-discount(type="checkbox" checked)
                                            else
                                                input.checkbox.checkbox-discount(type="checkbox" )
                                        else
                                            input.checkbox.checkbox-discount(type="checkbox" disabled)
                                    td.d-flex.justify-content-center
                                        button.p-2.btn.btn-primary.status-wash.btn-sm(type='button') Заехать
                                        button.p-2.btn.btn-success.status-ready.btn-sm(type='button') Готово
                                        button.p-2.btn.btn-warning.redact.btn-sm(type='button') Услуги
                                        button.p-2.btn.btn-info.modalTwo.btn-sm(type='button') Доп. Услуги
                                        button.p-2.btn.btn-danger.status-await.btn-sm(type='button') Отмена
                                        button.p-2.btn.btn-dark.delete.btn-sm(type='button') Удалить

